/*****************************/
/****** CONFIGURAÇÕES ********/
/*****************************/
/* Seleciona todos os elementos do html, 
zerando os espaçamentos para ter maior donmínio sobre 
os elementos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define as propriedades padrões da página */
html{
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    /*Otimiza a renderização da fonte para leitura,
    tendo melhor qualidade  */
    text-rendering: optimizeLegibility;
}

/*****************************/
/******** HERO HEADER ********/
/*****************************/
header{
    background-image: 
        linear-gradient(rgba(7, 2, 2, .7), rgba(0,0,0,.7)),
        url(img/img-hero-header.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h1{
    margin: 0;
    margin-bottom: 10px;
    color: #FFF;
    font-size: 180%;
    text-transform: uppercase;
    font-weight: 300;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.btn:link,
.btn:visited{
    display: inline-block;
    border: 1px solid #E67E22;
    color: #FFF;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    transition: .2s;
}

.btn-full{
    background-color: #E67E22;
    margin-right: 20px;
}

.btn:hover,
.btn:active{
    background-color: #CF6D17;
    border-color: #CF6D17;
}

/*****************************/
/****** MENU NAVEGAÇÃO *******/
/*****************************/
.logo{
    height: 100px;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.main-nav>ul{
    list-style-type: none;
    display: flex;
    width: 600px;
    justify-content: space-around;
}

.main-nav>ul>li>a:link,
.main-nav>ul>li>a:visited{
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom .2s;
    padding-bottom: 6px;
}

.main-nav>ul>li>a:hover,
.main-nav>ul>li>a:active{
    border-bottom: 2px solid #E67E22;
}

/*****************************/
/******** INFORMAÇÕES ********/
/*****************************/

section{
    padding: 80px 0;
}

h2{
    font-size: 180%;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
}

h2::after{
    /* content: "\002738"; */
    content: " ";
    height: 2px;
    width: 100px;
    background-color: #E67E22;
    display: block;
    margin: 30px auto;
}

.top>p{
    width: 70%;
    margin: 0 auto;
    line-height: 145%;
}

.infos{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    /* justify-content: center; */
}

.infos>div{
    flex-basis: 250px;
    flex-grow: 1;
    padding: 1%;
}

.sec-information ion-icon{
    font-size: 350%;
    color: #E67E22;
}

h3{
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 34px;
}

.infos p{
    font-size: 90%;
    line-height: 150%;
    text-align: justify;
}

/************************************/
/************* GALERIA **************/
/************************************/

.galery ul{
    display: flex;
    flex-wrap: wrap;
}

.galery>ul>li{
    flex-basis: 250px;
}

